@model HobbyHubSystem.Web.ViewModels.Article.DeleteArticleViewModel
@using HobbyHubSystem.Web.ViewModels.Article

<h2>Delete Article</h2>

<p>Are you sure you want to delete the article "<strong>@Model.Title</strong>"?</p>

<form asp-controller="Article" asp-action="DeleteArticle" method="post">
    <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Article" asp-action="All" asp-route-articleId="@Model.Id" class="btn btn-secondary">Cancel</a>
   
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}