@using HobbyHubSystem.Web.ViewModels.Admin;
@model PendingHobbiesViewModel

<h1>Pending Hobbies</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PendingHobbies.Any())
        {
        @foreach (var hobby in Model.PendingHobbies)
        {
            <tr>
                <td>@hobby.Name</td>
                <td>@hobby.Description</td>
                <td>@hobby.ImageUrl</td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="ApproveHobby">
                        <input type="hidden" name="hobbyId" value="@hobby.HobbyId" />
                        <button type="submit">Approve</button>
                    </form>
                </td>
            </tr>
            }
        }
        else
        {
            <p>No hobbies waiting for approval.</p>
        }
    </tbody>
</table>
