@model HobbyHubSystem.Web.ViewModels.Event.DeleteEventViewModel

@{
    ViewData["Title"] = "Delete Event";
}

<h2>@ViewData["Title"]</h2>

<p>Are you sure you want to delete the event with title: <strong>@Model.Title</strong>?</p>

<form asp-controller="Event" asp-action="DeleteEvent" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="All" asp-controller="Event" asp-route-hubId="@Model.HubId" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}